body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #75bc97;
  color: white;
  display:flex;
  justify-content: space-between;
}

#header-1 {
  background-image: url(./images/hero/desktop/left-leaves.png);
  background-size:cover;
  display:flex;
  justify-content: space-evenly;
  min-width: 40vh;
}

 #header-2 {
  background-image: url(./images/hero/desktop/plantperson.png);
  background-size:cover;
  display:flex;
  min-width: 40vh;
}

#header-3 {
  background-image: url(./images/hero/desktop/right-leaves.png);
  background-size:cover;
  display:flex;
  min-width: 40vh;
}

#text-div {
  align-items: center;
  max-width: 40%;

  font-size: 50px;
  font-weight: bold;
}

#text-div h1 {
  padding-top: 25px;
  padding-bottom: 50px;
  margin: 0;
}

#text-div img { 
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
}

#filter-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

#filter-container img {
  width: 100px;
}

.filter-box {
  max-width: 13%;
}

.filter-box select {
  color: gray;
  padding: 10px;
  width: 200px;
  height: 43px;
  border-radius:36px;
  display:inline-block;
  overflow:hidden;
  background:#ffffff;
  border:1px solid gray;
}

.filter-box select:hover {
  cursor: pointer;
}

#last-results {
  background-color: #f6f6f6;
  padding-bottom: 100px;
}

#result-section-1 {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

#noresult-text p{
  color: gray;
  font-size: 18px;
  max-width:33%;
  padding-right: 150px;
}

#noresult-text  h2{
  color: gray;
  font-size: 48px;
}

#result-section-2{
  display:none;
}

.picks {
  display: flex;
  margin: 5px 300px;
  padding: 20px 5px
}

.picks h2 {
  width: 100vw;
}

#pick-img{
  width: 250px;
}

#result-section-2 div h2{
  font-size: 40px;
}

.cards {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  padding: 2px 16px;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.plants {
  max-width: 800px
}

.card {
  background-color: white;
  color: #15573f;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  min-width: 250px;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center
}

.card img {
  object-fit: cover;
  max-width: 10vw;
}
  
#button-up {
  display: flex;
  justify-content: center;
}

#button-up button {
  justify-content: center;
  align-items: center;
  color: gray;
  padding: 10px;
  width: 50vw;
  height: 55px;
  border-radius:36px;
  display: flex;
  overflow:hidden;
  background:#ffffff;
  border:1px solid gray;
}

#button-up button:hover {
  cursor: pointer;
}

.staff {
  background-color: #75bc97;
}

@media screen and (max-width: 768px) {
  body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }

  header {
    background-color: #75bc97;
    color: white;
    display:flex;
    justify-content: space-between;
  }
  
}
